# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnpm-store

# build artifacts
dist
build
.next

# misc
.DS_Store
.codemachine/memory
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# terraform state
.terraform
*.tfstate
*.tfstate.*

# typescript
*.tsbuildinfo
terraform.tfvars